In [1]:
#read file 
import pandas as pd
filepath = "EXP_MORSC_01032019225444048.csv"
country_mort_data = pd.read_csv(filepath)
country_mort_data.head()

,COU,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1990,1990,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,300.0652,NaN,NaN
1,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1991,1991,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,297.1893,NaN,NaN
2,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1992,1992,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,300.2021,NaN,NaN
3,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1993,1993,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,292.8972,NaN,NaN
4,AUS,Australia,PM_MOR,Mortality from exposure to outdoor PM2.5,1994,1994,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,295.0728,NaN,NaN

# Filter Data For "United States" Data

In [3]:
#Filter data for data relevant to the US.
US_data = country_mort_data[country_mort_data['Country'].str.contains("United States")==True]
US_data.head()

,COU,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
812,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1990,1990,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,372.6680,NaN,NaN
813,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1991,1991,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,371.3994,NaN,NaN
814,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1992,1992,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,367.1144,NaN,NaN
815,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1993,1993,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,375.3801,NaN,NaN
816,USA,United States,PM_MOR,Mortality from exposure to outdoor PM2.5,1994,1994,1000000HAB,Per 1 000 000 inhabitants,0,Units,NaN,NaN,373.4384,NaN,NaN

# Select Relevant Column Data

In [5]:
US_data_mix_var = US_data[['Country', 'Variable', 'Year', 'Unit', 'Value']]
US_data_mix_var.head(5)

,Country,Variable,Year,Unit,Value
812,United States,Mortality from exposure to outdoor PM2.5,1990,Per 1 000 000 inhabitants,372.6680
813,United States,Mortality from exposure to outdoor PM2.5,1991,Per 1 000 000 inhabitants,371.3994
814,United States,Mortality from exposure to outdoor PM2.5,1992,Per 1 000 000 inhabitants,367.1144
815,United States,Mortality from exposure to outdoor PM2.5,1993,Per 1 000 000 inhabitants,375.3801
816,United States,Mortality from exposure to outdoor PM2.5,1994,Per 1 000 000 inhabitants,373.4384

# Final Filter To Remove US Virgin Island Data

In [6]:
#filter the "United states" data frame for variable values pertaining to mortality
Mort_data_analysis = US_data_mix_var.loc[US_data_mix_var['Variable'] == "Mortality from exposure to outdoor PM2.5", :]
#Note at this point the data still contains values for United States virgin Islands
#So we filter out the Virgin Islands and get Data for only United States 
US_PM25_Mort_data = Mort_data_analysis.loc[Mort_data_analysis['Country'] == "United States", :]


US_PM25_Mort_data.sort_values(by=['Year']).head()

,Country,Variable,Year,Unit,Value
812,United States,Mortality from exposure to outdoor PM2.5,1990,Per 1 000 000 inhabitants,372.6680
813,United States,Mortality from exposure to outdoor PM2.5,1991,Per 1 000 000 inhabitants,371.3994
814,United States,Mortality from exposure to outdoor PM2.5,1992,Per 1 000 000 inhabitants,367.1144
815,United States,Mortality from exposure to outdoor PM2.5,1993,Per 1 000 000 inhabitants,375.3801
816,United States,Mortality from exposure to outdoor PM2.5,1994,Per 1 000 000 inhabitants,373.4384

In [7]:
US_PM25_Mort_data.to_csv("../DataFrames/US_PM25_Mort_data.csv", index=False, header=True)