In [21]:
# Dependencies
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
merged_data_filepath = "../DataFrames/merged_set_data.csv"

merged_table = pd.read_csv(merged_data_filepath)

In [26]:
merged_table = merged_table.drop(columns=['Unnamed: 0'])
merged_table.head()

,Year,NO2 Mean,O3 Mean,SO2 Mean,CO Mean,Year Average,Country,Variable,Unit,Value
0,2000,0.017433,0.024376,0.003649,0.557789,0.150812,United States,Mortality from exposure to outdoor PM2.5,Per 1 000 000 inhabitants,362.2790
1,2001,0.017600,0.025388,0.003133,0.509119,0.138810,United States,Mortality from exposure to outdoor PM2.5,Per 1 000 000 inhabitants,361.3241
2,2002,0.016387,0.026818,0.002744,0.500990,0.136735,United States,Mortality from exposure to outdoor PM2.5,Per 1 000 000 inhabitants,359.6222
3,2003,0.015865,0.025521,0.002865,0.492720,0.134243,United States,Mortality from exposure to outdoor PM2.5,Per 1 000 000 inhabitants,355.1779
4,2004,0.014968,0.024914,0.002855,0.448132,0.122717,United States,Mortality from exposure to outdoor PM2.5,Per 1 000 000 inhabitants,342.3452

In [65]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [64]:
# print(len(merged_table['Year']))
# print(merged_table['Year'])

In [ ]:
#look up iterating through a class

In [98]:
#run a for loop on the census data for date in list of 
#use the for loop to merge data sets 

State_Pop_by_year = pd.DataFrame()
counter = 0
# for index, row merge_data.it
for year in merged_table['Year']:
    try:
        c = Census(api_key, year=year)
        census_data = c.acs5.get(('STATE', 'B01003_001E'), {'for': 'state:{}'.format(states.MD.fips)})
        census_pd = pd.DataFrame(census_data)
        census_pd['Year'] = year
        State_Pop_by_year = State_Pop_by_year.append(census_pd)
    except:
        print(f"... No data for year {year}")

... No data for year 2000
... No data for year 2001
... No data for year 2002
... No data for year 2003
... No data for year 2004
... No data for year 2005
... No data for year 2006
... No data for year 2007
... No data for year 2008
... No data for year 2009

In [99]:
State_Pop_by_year

   B01003_001E STATE state  Year
0    5696423.0    24    24  2010
0    5736545.0    24    24  2011
0    5785496.0    24    24  2012
0    5834299.0    24    24  2013
0    5887776.0    24    24  2014
0    5930538.0    24    24  2015
0    5959902.0    24    24  2016

In [62]:
c = Census(api_key, year=merged_table['Year'][16])
census_data = c.acs5.get(('STATE', 'B01003_001E'),
          {'for': 'state:{}'.format(states.MD.fips)})
census_pd = pd.DataFrame(census_data)
census_pd['Year'] = merged_table['Year'][16]

In [59]:
census_pd.head()

   B01003_001E STATE state  Year
0    5736545.0    24    24  2011

In [61]:
census_pd.head()

   B01003_001E STATE state  Year
0    5696423.0    24    24  2010

In [63]:
census_pd.head()

   B01003_001E STATE state  Year
0    5959902.0    24    24  2016

In [ ]:
#run a loop that creates a frame for each state ...
#figure out a logical way to combine a collection of framedata by state

In [8]:
census_pd.head()

   B01003_001E STATE state
0    5834299.0    24    24

In [10]:
type(states.MD)

us.states.State

In [11]:
print(states.MD)

Maryland

In [12]:
print('Maryland')

Maryland

In [ ]:
Year_list =

In [ ]:
for